    /* body {
        background-color: yellow;
    }

    #container {
        background-color: green;
        margin-right: 300px;
        margin-left: 300px;
    }

    #name {
        background-color: purple;
    }

    #name {
        background-color: red;
    }

    #name {
        background-color: pink;
    } */
/* 
.img {
    width: 4%;
    height: 4px;
} */