<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yolo TV</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/jquery/jquery.js"></script>
    <script src="../public/scripts/click-event.js"></script>
   
  
</head>
<body>
    <h1>Yolo Tv</h1>
    {{{body}}}

</body>
</html>